<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjlambda.web.mapper.MovieMapper">
    <insert id="insertMovie"
            parameterType="com.wjlambda.web.movie.MovieDTO">
            insert rank, title, rank_date into movie
        values (#{rank},#{title},#{rankDate})
    </insert>

    <update id="updateMovie"
            parameterType="com.wjlambda.web.movie.MovieDTO">
            update set title = #{title} from movie
            where movieNo like 'movieNo'
    </update>

    <delete id="deleteMovie"
            parameterType="com.wjlambda.web.movie.MovieDTO">
            delete from movie where movieNo like 'movieNo'
    </delete>
    <select id="selectMovies" resultType="com.wjlambda.web.movie.MovieDTO"
            parameterType="com.wjlambda.web.proxy.Pager">
      select  movie_no movieNo, seq, movie_name movieName, rank_date rankDate
      from movie
      limit #{rowStart}, #{pageSize}

    </select>
    <select id="selectMovie" resultType="com.wjlambda.web.movie.MovieDTO">
      select  movie_no movieNo, seq, movie_name movieName, rank_date rankDate
      from users
      where id = #{id}
    </select>
    <select id="count" resultType="int">
      select count (*)
      from movie
    </select>
</mapper>